# Честно говоря, я не знаю что тут игнорировать. В проекте обучения есть тестовый вайл. Его я игнорирую.
# Где-то есть кеш который тоже не нужен.
.venv/
# добавил окружение. Но оно игнорируется и так.
# Добавлю что-то по классике.
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
*.env
*.local
*.log
*.tmp
build/
dist/
*.egg-info/
